#footerContent {
    padding: 4% 0 2% 5%;
    border-top: inset;
    border-color: rgb(236, 236, 236);
    text-align: left;
}
.footer {
    padding: 5% 20% 0 20%;
    justify-content: center;
}
.socials {
    display:flex;
    justify-content: center;
}
.facebook {
    margin-right:1%;
}
