.artistRoot {
    padding-top: 5% 
}

.card-img-top {
    padding: 3vmin;
    object-fit: cover;
}

.artistRoot .facebook, .artistRoot .instagram {
    height: 30px  !important;
    width: 30px !important;
    opacity: 0.8;
}